@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA5SURBVHgB7ZShDgAgFAIP5///Ms6swfCCU4iEK8cQYArTKM6HwL4r7TNPkpYuUgJ8Ejinnvu6DDgAYb4FJ9htG4wAAAAASUVORK5CYII="),
    auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-desktop a {
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.5rem;
  color: white;
  display: inline-block;
  font-size: 1.25rem;
  margin: 0 1.5rem;
  transition: 0.5s;
}

.navbar .navbar-desktop a:hover {
  letter-spacing: 0.15rem;
}

#menu-button {
  display: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
}

.spotify {
  background: url(../images/aboutme/bg/light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.iframe-ajg {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

@media (max-width: 766px) {
  #menu-button {
    display: inline-block;
  }

  .navbar .navbar-desktop {
    color: white;
    position: absolute;
    top: 100%;
    right: -200%;
    background-color: black;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-desktop.active {
    right: 0;
  }

  .navbar .navbar-desktop a {
    display: block;
    padding: 1rem;
  }

  .navbar .navbar-desktop a::after {
    transform-origin: 1;
  }

  .navbar .navbar-desktop a:hover::after {
    transform: scaleX(0);
  }
}
